<%- include('header') %>

<form action='/user/login/' method="POST" style="width:50%; margin:auto">
        <br/>    
        Email : <br/>
        <input type='email' class='form-control' name='email'><br/>
        Password : <br/>
        <input type='password' class='form-control' name='password'><br/>
      
        <button type='submit' class="btn btn-success">Log In</button>
</form>

<%- include('footer') %>